.List {
	position: relative;
	width: 100%;
}

	.List-noData {
	    text-align: center;
	    font-size: 32px;
	    opacity: .25;
	    position: absolute;
	    left: 50%;
	    top: 0;
	    transform: translate(-50%, 0)
	}