.Modal {
	position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .75);
    z-index: 1;
	transition: top .25s;
	overflow: scroll;
	color: #777777;
}

	.Modal-wrapper {
		width: 90%;
		max-width: 400px;
		margin: 0 auto;
		overflow: scroll;
		background: white;
		border-radius: 20px;

		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, 0);
		transition: top .5s;
		transition-delay: .25s;

		overflow: hidden;
	}

		.Modal-wrapper_close {
			position: absolute;
			top: 20px;
			right: 20px;
		}

		.Modal-wrapper_content {
			width: 100%;
			padding: 20px;
		}

			.Modal-wrapper_content h6 {
				font-size: 30px;
				margin-bottom: 50px;
			}

			.Modal-wrapper_content form {

			}

	.Modal.active {
		top: 0;
	}

	.Modal.active .Modal-wrapper {
		top: 100px;
		margin-bottom: 100px;
	}