/*
 * 1) grow each equally to fit space
 * 2) retain over-size to allow overflow
 */
.ListArray {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

	.ListArray-item {
	    width: 33%;
	    border: 1px solid;
	    flex-grow: 1;/* 1 */
	    flex-shrink: 0;/* 2 */
	}

@media screen and (max-width: 991px) {
    .ListArray {
        transform: translateX(-40%);
    }

	    .ListArray-item {
	        width: 60%;
	    }
}

@media screen and (max-width: 640px) {
    .ListArray {
        transform: translateX(-62.5%);
    }

	    .ListArray-item {
	        width: 75%;
	    }
}